# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

092024-rouge-4.wns.wilders.dev {
	# Another common task is to set up a reverse proxy:
	reverse_proxy localhost:8000
}

staging.092024-rouge-4.wns.wilders.dev {
	reverse_proxy localhost:8001
}

ops.092024-rouge-4.wns.wilders.dev {
        reverse_proxy localhost:8055
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
